[Unit]
Description=SG Boot
After=station-boot.service

[Service]
ExecStart=/bin/bash /lib/ctt/sensor-station-software/system/scripts/boottime_compute.sh

[Install]
WantedBy=multi-user.target
