# Symlink for Station Modem - ignore quectel ec25 USB ports to minimize usb bandwidth

KERNEL=="ttyUSB*", \
	ATTRS{idVendor}=="2c7c", ATTRS{idProduct}=="0125", \
	ENV{ID_MM_DEVICE_IGNORE}="1"