# prevent modem manager from controlling adafruit microcontrollers to be safe
SUBSYSTEM=="tty", ACTION=="add", ATTRS{idVendor}=="239a", ATTRS{idProduct}=="800c", ENV{ID_MM_DEVICE_IGNORE}="1"
# prevent modem manager from controlling bluseries adapter to be safe
SUBSYSTEM=="tty", ACTION=="add", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6015", ENV{ID_MM_DEVICE_IGNORE}="1"

# note bInterfaceNumber
SUBSYSTEMS=="usb", ENV{.LOCAL_ifNum}="$attr{bInterfaceNumber}"

# prevent modem manager from controlling ttyUSB interfaces on quectel modem
SUBSYSTEM=="tty", ACTION=="add", \
	ATTRS{idVendor}=="2c7c", ATTRS{idProduct}=="0125", \
	ENV{.LOCAL_ifNum}=="0*", ENV{ID_MM_DEVICE_IGNORE}="1"
