html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  head
    title= title
    link(rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" type="text/css")
    link(rel="stylesheet" href="/stylesheets/style.css" type="text/css")
  body(style="font-size:0.8em;background-color: #333; color: #D1FF00;")
    div(class="row")
      div(class="col-sm-3")
        div(style="text-align:center;")
          img(src="/ctt_logo_300DPI.png" style="height:100px;")
      div(class="col-sm-9")
        h1(style="") Bl&umacr; Series Receiver Control
    div(class="row")
      div(class="col-lg-8")
        div(class="row")
          h2 Nodes
            table(class="table table-bordered table-sm table-dark" id="node-history")
              tr(class="table-primary", style="color:#111")
                th #
                th Node ID
                th Time Since
                th RSSI
                th Battery
                th Firmware
                th Latitude
                th Longitude 
                th GPS Time
            a(id="download-nodes", class="btn btn-primary btn-block") Download Node Table

    hr
    h2 Tag Filter
    nav(class="navbar navbar-dark bg-dark", id="tag-filter")
      form(class="form-inline")
        input(class="form-control mr-sm-2", id="tag-filter-input", type="search", placeholder="Filter Tags", aria-label="Tag ID", value="", autocomplete="on")

    hr
    div(class="form-check form-switch", id="blu-receiver-switch")
      div(style="font-size:2em; font-weight:bold; text-align:left; border-bottom:2px solid #ccc; color: #007FFF")
        input(class="form-check-input", type="checkbox", role="switch", autocomplete="off", id="bluRadioSwitch" checked)
        label(class="form-check-label") Display Bl&umacr; Receivers and Radios
    div(class="row", id="blu-receiver")

    script(src="/jquery/dist/jquery.min.js")
    script(src="/moment/min/moment-with-locales.min.js")
    script(src="/bootstrap/dist/js/bootstrap.min.js")
    script(src="/highcharts/highcharts.js")
    script(src="/highcharts/themes/dark-unica.js")
    script(src="/javascripts/interface-blu.js?v=1.14")
