html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  head
    title= title
    link(rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" type="text/css")
    link(rel="stylesheet" href="/stylesheets/style.css" type="text/css")
  body(style="font-size:0.8em;background-color: #333; color: #D1FF00;")
    div(class="row")
      div(class="col-sm-3")
        div(style="text-align:center;")
          img(src="/ctt_logo_300DPI.png" style="height:100px;")
      div(class="col-sm-9")
        h1(style="") CTT Sensor Station Overview
    div(class="row")
      div(class="col-lg-8")
        div(class="row")
          h2 Nodes
          table(class="table table-bordered table-sm table-dark" id="node-history")
            tr(class="table-primary", style="color:#111")
              th #
              th Node ID
              th Last Heard
              th RSSI
              th Battery
              th Firmware
              th Latitude
              th Longitude 
              th GPS Time
          a(id="download-nodes", class="btn btn-primary btn-block") Download Node Table

        div(class="row")
          div(style="overflow-y: scroll; height:400px;")
            div
              h2 Live Tags
              table(class="table table-bordered table-sm table-dark" id="tags")
                tr(class="table-primary", style="color:#111") 
                  th Tag ID
                  th Count
                  th Beep Rate (Beeps/s)
                  th Alias
                  th 
                  th 
        div(style="min-height:250px;", id="tag_hist")

        h2 Sensor Station Log
        div(style="overflow-y: scroll; height:400px;")
          table(class="table table-bordered table-sm table-dark" id="raw_log")
            tr(class="table-primary", style="color:#111") 
              th Time
              th Message

      div(class="col-lg-4")
        h2 Station
        table(class="table table-bordered table-sm table-dark")
          tr
            th ID
            td
              span(id="station-id")
          tr
            th Software Start
            td
              span(id="software-start")
          tr
            th Last Software Update
            td
              span(id="software-update")
          tr
            th Compute Module Serial
            td
              span(id="serial")
          tr
            th Module Hardware
            td
              span(id="hardware")
          tr
            th Module Revision
            td
              span(id="revision")
          tr
            th Boot Count
            td
              span(id="bootcount")
          tr
            th Total Memory
            td
              span(id="memory")
          tr
            th Last Boot
            td
              span(id="uptime")
          tr
            th Internet Gateway
            td
              span(id="internet-gateway")
          tr
            th Wifi Signal Strength
            td
              div(id="wifi-signal-strength" style="display:inline-flex; align-items:flex-end; justify-content:flex-end; width:auto; height:35px; padding:4px")
                svg(class="bi bi-wifi" xmlns="http://www.w3.org/2000/svg" style="width:50; height:30; fill:none; viewBox:0 0 16 16;")
                  g( transform="scale(2)")
                    path(d="M15.384 6.115a.485.485 0 0 0-.047-.736A12.44 12.44 0 0 0 8 3C5.259 3 2.723 3.882.663 5.379a.485.485 0 0 0-.048.736.52.52 0 0 0 .668.05A11.45 11.45 0 0 1 8 4c2.507 0 4.827.802 6.716 2.164.205.148.49.13.668-.049")
                    path(d="M13.229 8.271a.482.482 0 0 0-.063-.745A9.46 9.46 0 0 0 8 6c-1.905 0-3.68.56-5.166 1.526a.48.48 0 0 0-.063.745.525.525 0 0 0 .652.065A8.46 8.46 0 0 1 8 7a8.46 8.46 0 0 1 4.576 1.336c.206.132.48.108.653-.065m-2.183 2.183c.226-.226.185-.605-.1-.75A6.5 6.5 0 0 0 8 9c-1.06 0-2.062.254-2.946.704-.285.145-.326.524-.1.75l.015.015c.16.16.407.19.611.09A5.5 5.5 0 0 1 8 10c.868 0 1.69.201 2.42.56.203.1.45.07.61-.091zM9.06 12.44c.196-.196.198-.52-.04-.66A2 2 0 0 0 8 11.5a2 2 0 0 0-1.02.28c-.238.14-.236.464-.04.66l.706.706a.5.5 0 0 0 .707 0l.707-.707z")
                svg(class="bi bi-wifi-2" xmlns="http://www.w3.org/2000/svg" style="width:50; height:30; fill:none; viewBox:0 0 16 16")
                  g( transform="scale(2)")
                    path(d="M13.229 8.271c.216-.216.194-.578-.063-.745A9.46 9.46 0 0 0 8 6c-1.905 0-3.68.56-5.166 1.526a.48.48 0 0 0-.063.745.525.525 0 0 0 .652.065A8.46 8.46 0 0 1 8 7a8.46 8.46 0 0 1 4.577 1.336c.205.132.48.108.652-.065m-2.183 2.183c.226-.226.185-.605-.1-.75A6.5 6.5 0 0 0 8 9c-1.06 0-2.062.254-2.946.704-.285.145-.326.524-.1.75l.015.015c.16.16.408.19.611.09A5.5 5.5 0 0 1 8 10c.868 0 1.69.201 2.42.56.203.1.45.07.611-.091zM9.06 12.44c.196-.196.198-.52-.04-.66A2 2 0 0 0 8 11.5a2 2 0 0 0-1.02.28c-.238.14-.236.464-.04.66l.706.706a.5.5 0 0 0 .708 0l.707-.707z")
                svg(class="bi bi-wifi-1" xmlns="http://www.w3.org/2000/svg" style="width:50; height:30; fill:none; viewBox:0 0 16 16")
                  g( transform="scale(2)")                  
                    path(d="M11.046 10.454c.226-.226.185-.605-.1-.75A6.5 6.5 0 0 0 8 9c-1.06 0-2.062.254-2.946.704-.285.145-.326.524-.1.75l.015.015c.16.16.407.19.611.09A5.5 5.5 0 0 1 8 10c.868 0 1.69.201 2.42.56.203.1.45.07.611-.091zM9.06 12.44c.196-.196.198-.52-.04-.66A2 2 0 0 0 8 11.5a2 2 0 0 0-1.02.28c-.238.14-.236.464-.04.66l.706.706a.5.5 0 0 0 .707 0l.708-.707z")
                svg(class="bi bi-wifi-off" xmlns="http://www.w3.org/2000/svg" style="width:50; height:30; fill:none; viewBox: 0 0 16 16;")
                  g( transform="scale(2)")                  
                    path(d="M10.706 3.294A12.6 12.6 0 0 0 8 3C5.259 3 2.723 3.882.663 5.379a.485.485 0 0 0-.048.736.52.52 0 0 0 .668.05A11.45 11.45 0 0 1 8 4q.946 0 1.852.148zM8 6c-1.905 0-3.68.56-5.166 1.526a.48.48 0 0 0-.063.745.525.525 0 0 0 .652.065 8.45 8.45 0 0 1 3.51-1.27zm2.596 1.404.785-.785q.947.362 1.785.907a.482.482 0 0 1 .063.745.525.525 0 0 1-.652.065 8.5 8.5 0 0 0-1.98-.932zM8 10l.933-.933a6.5 6.5 0 0 1 2.013.637c.285.145.326.524.1.75l-.015.015a.53.53 0 0 1-.611.09A5.5 5.5 0 0 0 8 10m4.905-4.905.747-.747q.886.451 1.685 1.03a.485.485 0 0 1 .047.737.52.52 0 0 1-.668.05 11.5 11.5 0 0 0-1.811-1.07M9.02 11.78c.238.14.236.464.04.66l-.707.706a.5.5 0 0 1-.707 0l-.707-.707c-.195-.195-.197-.518.04-.66A2 2 0 0 1 8 11.5c.374 0 .723.102 1.021.28zm4.355-9.905a.53.53 0 0 1 .75.75l-10.75 10.75a.53.53 0 0 1-.75-.75z")
                //- span(class="bar-1" style='height:25%;  width:auto;  padding:4px; margin-left:5px')   
                //- span(class="bar-2" style='height:50%;  width:auto;  padding:4px; margin-left:5px')
                //- span(class="bar-3" style='height:75%;  width:auto;  padding:4px; margin-left:5px')
                //- span(class="bar-4" style='height:100%; width:auto;  padding:4px; margin-left:5px')
                //- span(class="no-wifi")
           
        h2 System Versioning Details
        table(class="table table-sm table-bordered table-dark", id="meta")
          tr
            th Station Image
            td
              span(id="station-image")

        div(class="row")
          div(class="col-sm")
            h3 Memory Usage
            div(id="mem-chart", style="height:150px;")
          div(class="col-sm")
            h3 CPU Usage
            div(id="cpu-chart", style="height:150px;")

        h2(style="text-align:center;") Time Sync Stats
        pre(style="min-height:100px;font-family:monospace; color:#EEE;font-size:1.2em;" id="chrony")

        h2 GPS
        table(class="table table-bordered table-sm table-dark")
          tr
            th Time
            td
              span(id="time")
          tr
            th Number of Satellites
            td
              span(id="nsats")
          tr
            th Latitude
            td
              span(id="lat")
          tr
            th Longitude
            td
              span(id="lng")
          tr
            th Altitude
            td
              span(id="alt")
        h2 Server Utilitites
        table(class="table table-bordered table-sm table-dark")
          tr
            th Checkin
            td
              button(class="btn btn-sm btn-primary btn-block", id="server-checkin") Server Checkin
          tr
            th Upload
            td
              button(class="btn btn-sm btn-primary btn-block", id="upload-files") Upload Data
          tr
            th Station Software Update
            td
              a(href="/update-station", class="btn btn-sm btn-primary btn-block") Station Update
        h2 Modem Control
        p When the modem is connected - this will always be the default route to the internet, even if you are plugged into a fast internet connection.  Use these controls to temporarily stop / start the modem.  It will still be active on the next reboot.
        table(class="table table-bordered table-sm table-dark")
          tr
            th Temporarily Start modem
            td
              button(class="btn btn-sm btn-primary btn-block", id="start-modem") Start Modem
          tr
            th Temporarily Stop modem
            td
              button(class="btn btn-sm btn-primary btn-block", id="stop-modem") Stop Modem

        p The controls below are for persistent modem control - starting or stopping the modem will persist through reboots and be permanent.
        table(class="table table-bordered table-sm table-dark")
          tr
            th Permanently Enable modem
            td
              button(class="btn btn-sm btn-primary btn-block", id="enable-modem") Enable Modem
          tr
            th Permanently Disable modem
            td
              button(class="btn btn-sm btn-primary btn-block", id="disable-modem") Disable Modem
        h2 Radio Software Control
        p You can restart the radio software with this control, which will require a page refresh after it is complete.
        table(class="table table-bordered table-sm table-dark")
          tr
            th Radio Data Server Restart
            td(colspan=2)
              button(class="btn btn-sm btn-primary btn-block", id="restart-radios") Restart Radio Software
        h2 Display Control
        p Limit radio tables to a set number of rows.
        table(class="table table-bordered table-sm table-dark")
          tr
            th Max Row Count
            td
              input(type="number",value="10000",id="max-row-count", class="form-control")
            td
              button(type="button",class="btn btn-sm btn-danger btn-block", id="update-max-row-count") Update
          tr
            th Reset radio tag data tables.
            td(colspan=2)
              button(class="btn btn-block btn-primary btn-block", id="clear") Clear 
        h2 Reboot Control
        p Specify reboot schedule
        table(class="table table-bordered table-sm table-dark")
          tr
            th Checkin Time
            td
              span
                input(class="time", id="reboot-hour", type="number", style="width:3em;") 
              span :
              span
                input(class="time", id="reboot-minute", type="number", style="width:3em;")
              span UTC
          tr
            th Weekly
            td
              select(class="form-control", id="reboot-dow")
                option(value='*') Every Day
                option(value='0') Sunday
                option(value='1') Monday
                option(value='2') Tuesday
                option(value='3') Wednsday
                option(value='4') Thursday
                option(value='5') Friday 
                option(value='6') Saturday
          tr
            th Specify Day Of Month
            td
              select(class="form-control", id="reboot-dom")
          tr
            td(colspan=2)
              button(class="btn btn-danger btn-sm btn-block", id="update-reboot-schedule") Update Reboot Schedule
    hr
    h2 Tag Filter
    nav(class="navbar navbar-dark bg-dark", id="tag-filter")
      form(class="form-inline")
        input(class="form-control mr-sm-2", id="tag-filter-input", type="search", placeholder="Filter Tags", aria-label="Tag ID", value="", autocomplete="on")
        //- button(class="btn btn-outline-success my-2 my-sm-0" type="submit") Search
    
    hr
    div(class="form-check form-switch", id="main-radio-switch")
      div(style="font-size:2em; font-weight:bold; text-align:left; border-bottom:2px solid #ccc;")
        input(class="form-check-input", type="checkbox", role="switch", autocomplete="off", id="mainRadiosSwitch" checked)
        label(class="form-check-label") Display 434 MHz Radios
    div(class="row", id="main-radios", style="display:'';")

    div(class="form-check form-switch", id="dongle-radio-switch")
      div(style="font-size:2em; font-weight:bold; text-align:left; border-bottom:3px solid #ccc;")
        input(class="form-check-input", type="checkbox", role="switch", autocomplete="off", id="dongleRadioSwitch", style="display:none" checked)
        label(class="form-check-label", id="dongleRadioLabel", style="display:none") Display Dongle Radios
    div(class="row", id="dongles", style="display:none;")
      div(style="font-size:2em; font-weight:bold; text-align:left; border-bottom:3px solid #ccc;") Dongle Radios
      div(id="extra-radios", class="row")

    hr
    div(class="form-check form-switch", id="blu-receiver-switch")
      div(style="font-size:2em; font-weight:bold; text-align:left; border-bottom:2px solid #ccc; color: #007FFF")
        input(class="form-check-input", type="checkbox", role="switch", autocomplete="off", id="bluRadioSwitch" checked)
        label(class="form-check-label") Display Bl&umacr; Receivers and Radios
    div(class="row", id="blu-receiver")
     
      //- div(class="row", id="blu-port")
      //- div(id="blu-radios", class="row")
      //- hr
      //- div(class="row" id="blu-on-off")
      //-   button(class="btn btn-block btn-sm btn-info" name="toggle_radio_on") Bl&umacr; Radios On
      //- div(class="row" id="blu-on-off")
      //-   button(class="btn btn-block btn-sm btn-info" name="toggle_radio_off") Bl&umacr; Radios Off

    hr
    h2(style="text-align:center") Data Management
    div(class="row")
      div(class="col-sm")
        div(style="border: 1px solid white;padding:5px;")
          h3(style="text-align:center;") Station Log
          div(class="row")
            div(class="col-sm")
              button(class="btn btn-block btn-danger", id="clear-log") Clear Log File
            div(class="col-sm")
              a(class="btn btn-block btn-primary", href="/ctt-logfile") Download Log File

      div(class="col-sm")
        div(style="border: 1px solid white;padding:5px;")
          h3(style="text-align:center;") CTT Tag Data
          div(style="text-align:center;")
            a(class="btn btn-primary", href="/ctt-data-current") Download Current Data
            div(style="height:5px;")
          div(class="row")
            div(class="col-sm")
              a(class="btn btn-block btn-primary", href="/ctt-data-rotated") Download Data Not Uploaded
            div(class="col-sm")
              a(class="btn btn-block btn-primary", href="/ctt-data-uploaded") Download Data Already Uploaded
          div(style="height:5px;")
          div(class="row")
            div(class="col-sm")
              button(class="btn btn-danger btn-block" name="delete-data" value="ctt-rotated") Delete Data Not Uploaded
            div(class="col-sm")
              button(class="btn btn-danger btn-block" name="delete-data" value="ctt-uploaded") Delete Data Already Uploaded

      div(class="col-sm")
        div(style="border: 1px solid white;padding:5px;")
          h3(style="text-align:center;") Nanotag Data
          div(class="row")
            div(class="col-sm")
              a(class="btn btn-block btn-primary", href="/sg-data-rotated") Download Data Not Uploaded
            div(class="col-sm")
              a(class="btn btn-block btn-primary", href="/sg-data-uploaded") Download Data Already Uploaded
          div(style="height:5px;")
          div(class="row")
            div(class="col-sm")
              button(class="btn btn-danger btn-block" name="delete-data" value="sg-rotated") Delete Data Not Uploaded
            div(class="col-sm")
              button(class="btn btn-danger btn-block" name="delete-data" value="sg-uploaded") Delete Data Already Uploaded

      //- div(class="col-sm")
      //-   div(style="border: 1px solid white;padding:5px;")
      //-     h3(style="text-align:center;") Bl&umacr; Series Tag Data
      //-     div(style="text-align:center;")
      //-       a(class="btn btn-primary", href="/ctt-blu-data-current") Download Current Data
      //-       div(style="height:5px;")
      //-     div(class="row")
      //-       div(class="col-sm")
      //-         a(class="btn btn-block btn-primary", href="/ctt-blu-data-rotated") Download Data Not Uploaded
      //-       div(class="col-sm")
      //-         a(class="btn btn-block btn-primary", href="/ctt-blu-data-uploaded") Download Data Already Uploaded
      //-     div(style="height:5px;")
      //-     div(class="row")
      //-       div(class="col-sm")
      //-         button(class="btn btn-danger btn-block" name="delete-blu-data" value="ctt-blu-rotated") Delete Data Not Uploaded
      //-       div(class="col-sm")
      //-         button(class="btn btn-danger btn-block" name="delete-blu-data" value="ctt-blu-uploaded") Delete Data Already Uploaded

    hr
    h2(style="text-align:center;") Nanotag Data
    div(style="text-align:center;")
      a(href='#', target="sg", id="sg_link", class="btn btn-primary" style="font-size:2em;") Sensorgnome Interface 
    div(class="row")
      div(class="col-sm")
        div(style="text-align:center;")
          h3 Sensorgnome Deployment File
          textarea(cols="90", rows="50", id="sg-deployment")
    div(style="height:10px;")
    div(class="row")
      div(class="col-sm")
        div(style="text-align:center;")
          button(class="btn btn-danger" id="save-deployment") Save Changes
    div(class="row")
      div(class="col-sm")
        div(style="text-align:center;")
          input(type="file" id="tag-db-file" name="tag-db")
          button(class="btn btn-danger" id="upload-sensorgnome-tag-db") Upload Tag Database File

    div(style="min-height:15px")
    div(class="row")
      button(class="btn btn-danger" id="reboot") Reboot

    script(src="/jquery/dist/jquery.min.js")
    script(src="/moment/min/moment-with-locales.min.js")
    script(src="/bootstrap/dist/js/bootstrap.min.js")
    script(src="/highcharts/highcharts.js")
    script(src="/highcharts/themes/dark-unica.js")
    script(src="/javascripts/interface.js?v=1.14")
